<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
	
	
	<style>
		body{
			 background-image: url("/assets/image/10.jpg");
			 	 background-size: cover;
		}
		.yo{background:rgba(0,0,0,0.34);
		width: 1100px;
		height: 50cm;
		position: relative;
		margin: auto;}
		
		
		.content{
			width: 20cm;
			height: 50cm;
			background: white;
			position: absolute;
			top:20px;
			left:20px;
		}
		.content img {
			width:650px;
			height: 250px;
			border-style: outset;
			position: absolute;
			top:4cm;
			left:20px;
		}
		.p{
			width:19cm;
			height: 35cm;
			border-style: outset;
			position: absolute;
			top:12cm;
			left:20px;
			font-size:12px;
		}
		.text{
			border-style: outset;
			position: absolute;
			top:2cm;
			left:20px;
			font-size:50px;
		}
		</style>
</head>
<body>	
   	<div class="yo">
	    <div class="content">
					   <div class="text">Bali</div>

		<img src="/assets/image/bali.jpg">
		<div class="p">
		<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Pulau Bali memang sangat terkenal dengan destinasi wisata 
				alam nya yang mempesona, maka tak heran, jika keindahan alam nya tersebut
				sudah cukup populer hingga ke mancanegara. Keindahan panorama alamnya
				yang menyatu dengan kebudayaan yang masih kental, membuat Bali menjadi 
				sebuah pulau yang memiliki daya tarik tersendiri. Banyak orang mengatakan
				bahwa bali adalah surga tersembunyi, hal itu dikarenakan bali memiliki bergam 
				pantai pasir putih seperti pantai kuta, sanur, pandawa, dll yang tentunya bisa menjadi spot para turis untuk menikmati The Golden Sunset.</p>
			<p>	
				Banyak lagi daya tarik pulau Bali lainnya seperti 
				juga keramah-tamahan warga lokal Bali, memang sanggup membuat wisatawan bisa bertahan lebih lama saat liburan.
				Dan bahkan mengagendakan datang lagi pada kesempatan liburan berikutnya. Alamnya hijau 
				dan penuh pesona itu bisa anda saksikan saat berkunjung ke sejumlah objek wisata sawah 
				terasering di Bali menjadi daya tarik tersendiri, beberapa tempat wisata sawah terasering yang menjadi tujuan tour 
				wajib di Bali adalah objek wisata Tegalalang, lokasinya terletak searah dengan Ubud dan Kintamani,
				objek wisata Jatiluwih terletak searah dengan objek wisata Bedugul, selain tempat tersebut memang mengagumkan lokasinya yang
				searah dengan sejumlah destinasi wisata lainnya membuatnya lebih populer, sedangkan tempat lainnya yang tidak kalah menariknya adalah sawah terasering di Busungbiu, 
				Tirta Gangga dan juga di wilayah Sidemen. Kearifan budaya lokal serta berbagai tradisi warisan masa lampau yang 
				masih berkembang dan dilestarikan di Bali sampai memang menjadi daya tarik tersendiri bagi wisatawan yang sedang liburan di pulau Dewata ini. </p>
			<p>
				Berbagai tradisi unik tersebut bisa bertahan sampai saat ini karena memang berkaitan dengan ritual, kegiatan upacara adat di desa setempat yang berhubungan juga dengan budaya Hindu. 
				Sejumlah budaya dan tradisi unik tersebut diantaranya, Omed-omedan, Perang Pandan, Mekotek, pemakaman di Trunyan, upacara Melasti, Ngaben, Nyepi dan banyak lainnya, 
				yang membuat pulau Bali tersebut memiliki daya tarik yang lebih spesial dan unik dibandingkan tempat lainnya.
				Berbagai hasil karya seni yang ditawarkan oleh Bali adalah menjadi daya tarik berikutnya seperti seni lukis, seni pahat atau seni 
				ukir dan juga seni tari yang paling banyak di cari. Sejumlah seni tari yang populer bagi wisatawan di bali diantaranya tari Kecak, 
				Tari Barong dan Tari Legong. Pertunjukan atau pementasan tarian tersebut bisa anda temukan dengan mudah di Ubud serta di sejumlah tempat lainnya di 
				Bali seperti tari kecak Uluwatu dan tari Barong Batubulan. Wisatawan juga bisa memilih jadwal pementasan tari saat mengemas tour di Bali, 
				karena jadwal pementasan seni tari Bali tersebut ada yang dipentaskan pagi dan juga malam hari. Mayoritas penduduk Bali adalah beragama Hindu, 
				dalam keyakinan warga Hindu di Bali hampir setiap hari selalu ada upacara yang digelar, baik itu dalam upacara sekala kecil maupun besar. 
				Ini dikarenakan pemahaman Hindu di Bali tidak hanya berdasarkan kitab suci seperti ditulis dalam kitab suci Weda, tetapi juga berdasarkan warisan budaya 
				leluhur setempat atau lebih dikenal dengan Desa (tempat), Kala (waktu), Patra (keadaan) jadi ketiga unsur tersebut membuat tatacara pelaksanaan dan bentuk upacara 
				terkadang berbeda namun mereka yakini memiliki tujuan yang sama, sehingga tidak terjadi pertentangan. Dalam balutan estetika yang kental membuat upacara keagamaan 
				tersebut menjadi daya tarik bagi wisatawan.
			</p>	
		</div>
			
		</div>
	</div>


</body>
</html>
