<!DOCTYPE html>
<html>
<head>
	<title>TravelinkIND</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/assets/css/barat.css" rel="stylesheet" type="text/css" />
<meta charset="utf-8">
<style>
  .yo{background:rgba(0,0,0,0.34);
		width: 1100px;
		height: 30cm;
		position: relative;
    margin: auto;}
</style>
</head>	
<body>
		<div class="top-title">
	
			<h4>TRAVELINK<span>IND</span> </h4>
			</div>
<div class="navbar">
  <a href="/">Home</a>
  <a href="/service">Service</a>
  <a href="/Blog">Blog</a>
  <a href="/contact">Contact</a>
  <a href="/AboutUs" class="right">About Us</a>
</div>
<div class="slideshow-container">
			<div class="mySlides fade">
  			<img src="/assets/image/resort1.jpg" style="width:100%">
			<div class="textimg ">
          <h2>Group & Individual Getaways</h2>
          <h5 >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsum molestias excepturi doloremque</h5>
        </div>
			</div>
			
			<div class="mySlides fade">
  			<img src="/assets/image/resort2.jpg" style="width:100%">
				<div class="textimg "><h2>Take Your Dream Vacation</h2>
          <h5 >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, provident eos dicta unde debitis</h5></div>
			</div>
	
			<div class="mySlides fade">
  			<img src="/assets/image/resort3.jpg" style="width:100% ">		
		<div class="textimg"><h2>We Work With All Budgets</h2>
          <h5 >Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus delectus inventore neque impedit</h5></div>
          
			</div>
	
	  		
</div>
		<div style="text-align:center">
  			<span class="dot"></span> 
  			<span class="dot"></span> 
  			<span class="dot"></span> 
		</div>
			
	<div class="wrapper">
		
	<h2 style="text-align:center"> Indonesia<span>Barat</span></h2>
		
	</div>
<div class="cover">
	<div class="column">
    <div class="card">
      <img src="/assets/image/jogja.jpg" >
      <div class="container">
		<h5>Jogja-merapi</h5>
		  <p>OPEN TRIP JOGJA-MERAPI <br>Rp 1.200.000</p>
		</div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/assets/image/karimun.jpg" >
      <div class="container">
		<h5>Karimun jawa-Jepara </h5>
		  <p>OPEN TRIP KARIMUN JAWA <br>Rp.1.300.000</p>
		</div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/assets/image/belitung.jpg" >
      <div class="container">
		<h5>Belitung </h5>
		  <p>OPEN TRIP BELITUNG BARAT <br>Rp.1.250.000</p>
      </div>
    </div>
  </div>
	</div>
	
<div class="cover2">
	<div class="column">
    <div class="card">
      <img src="/assets/image/baluran.jpg" >
      <div class="container">
		<h5>Baluran safari trip </h5>
		  <p>OPEN TRIP SAFARI BALURAN <br>Rp.1.430.000</p>
		</div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/assets/image/anambas.jpg"	>
      <div class="container">
		<h5>Kep.anambas-Kep.Riau </h5>
		  <p>OPEN TRIP KEP. ANAMBAS <br>Rp.1.400.000</p>
		</div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/assets/image/bromo.jpg" >
      <div class="container">
		<h5>Malang-Bromo </h5>
		  <p>OPEN TRIP GUNUNG BROMO <br>Rp.1.120.000</p>
      </div>
    </div>
  </div>
	</div>
  <div class="yo">
    <div class="container">
      <h2>ORDER HERE</h2>
      <form action="/order" method="post">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="nama" placeholder="Enter Name" name="nama" required>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
        </div>
        <div class="form-group">
          <label for="order">Order:</label>
          <input type="text" class="form-control" id="order" placeholder="Destination" name="order" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <script src="/assets/js/script.js"></script>

</body>
</html> 
