<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta charset="utf-8">
	<link href="/assets/css/style.css " rel="stylesheet" type="text/css" />


</head>	
<body >

<div class="top-title">
<h4>TRAVELINK<span>IND</span> </h4>
</div>
<div class="navbar">
  <a href="#">Home</a>
  <a href="/service">Service</a>
  <a href="/Blog">Blog</a>
  <a href="/contact">Contact</a>
  <a href="/AboutUs">About Us</a>
  <a href="/login">Login</a>
</div>
	<div class="slideshow-container">
			<div class="mySlides fade">
  			<img src="/assets/image/resort1.jpg" style="width:100%">
			<div class="textimg ">
          <h2>Group & Individual Getaways</h2>
          <h5 >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsum molestias excepturi doloremque</h5>
        </div>
			</div>
			<div class="mySlides fade">
  			<img src="/assets/image/resort2.jpg" style="width:100%">
				<div class="textimg "><h2>Take Your Dream Vacation</h2>
          <h5 >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, provident eos dicta unde debitis</h5></div>
			</div>
			<div class="mySlides fade">
  			<img src="/assets/image/resort3.jpg" style="width:100% ">		
		<div class="textimg"><h2>We Work With All Budgets</h2>
          <h5 >Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus delectus inventore neque impedit</h5></div>
			</div>			
	</div>
		<div style="text-align:center">
			<span class="dot"></span> 
			<span class="dot"></span> 
			<span class="dot"></span> 
		</div>
<div class="wrapper">
	
		<img class="img-yo" src="/assets/image/Gunung Bromo.jpg" >
		<div class="yo">
			<h2>From</h2>
		<p>Far far away, behind the word mountains, Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
		The mountains are calling, and I must go.”  Sums up our feelings about these majestic natural wonders. <br>
		Mountains have always been a source of awe and beauty, 
		and sometimes we don't have the words to capture how much we admire them. <br> 
		Nature quotes can help put into words how much exhilarating it is to look at mountains,
		climb and hike mountains, ski mountains—and even how much we enjoy them as a 
		powerful metaphor for hard work, exploration, and victory in literature, art, and music.</p> 
		</div>
	
	
		
	
</div>
	
	<div class="coverVid">
		<div class="content">
		<video autoplay loop muted id="myVideo">
  		<source src="/assets/image/video.mp4" type="video/mp4">
		</video>	
  		<button id="myBtn" onclick="myFunction()">Pause</button>
		  <div class="tr">
		  <h1>Travel To Indonesia</h1>
		<p> This is a video clip that shows how beautiful Indonesia is</p>
		</div>
		</div>
	</div>
	<div class="wrapper">
		<h5>1. Bingung akan pergi ke destinasi mana?</h5>
		<p>Senangnya itu pas lihat kalender lalu kamu sadar dapat libur panjang. 
			Sudah pasti deretan rencana liburan bermain di pikiran kan. Kamu pun sudah pasti menyiapkan beberapa destinasi menarik untuk dikunjungi.
			Liburan memang sangat dinantikan oleh siapa saja. 
			Waktu liburan kita serasa memiliki waktu untuk bersantai tanpa batas. 
			Tentunya kamu tak mau dong membiarkan liburan kamu lewat begitu saja tanpa ada sesuatu yang berkesan. Karena itu segera rencanakan liburan kamu sebelum waktunya tiba.
			Merencanakan liburan bikin kamu memiliki persiapan lebih matang. 
			Dengan merencanakan apa yang akan kamu lakukan dan ke mana saja kamu selama liburan bisa bikin waktu liburan kamu terpakai dengan baik.</p>
		<h5>2. Menjadi pilihan Terbaik</h5>
		<p> Agen perjalanan adalah pengecer swasta atau layanan publik yang menyediakan perjalanan dan
			layanan terkait pariwisata kepada masyarakat umum atas nama akomodasi atau perjalanan
			pemasok. Agen perjalanan dapat menyediakan kegiatan rekreasi luar ruangan, penerbangan, mobil
			penyewaan, jalur pelayaran, hotel, kereta api, asuransi perjalanan, paket wisata, asuransi,
			buku panduan, jadwal transportasi umum, penyewaan mobil, dan layanan biro de perubahan.
			<br>
			Agen perjalanan juga dapat berfungsi sebagai agen penjualan umum untuk maskapai yang tidak memiliki
			kantor di wilayah tertentu. Fungsi utama agen perjalanan adalah bertindak sebagai agen,
			menjual produk dan layanan perjalanan atas nama pemasok.
			Mereka tidak menyimpan inventaris
			di tangan kecuali mereka memiliki pemesanan kamar hotel atau kabin di kapal pesiar untuk perjalanan kelompok
			acara seperti pernikahan, bulan madu, atau acara kelompok lainnya. </p>
	</div>
			
<div class="kotak">	
	<div class="row">
  	<div class="column" onclick="openTab('b1');" style="background:#266EB1;">visi&nbsp;</div>
  	<div class="column" onclick="openTab('b2');" style="background:#0EC7DD;">Misi</div>
  	<div class="column" onclick="openTab('b3');" style="background:#266EB1;">Motto</div>
	<div class="column" onclick="openTab('b4');" style="background:#0EC7DD;">Other</div>
	</div>
	
	<div id="b1" class="containerTab" style="display:none;background:#266EB1">
 	<span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
  	<h2>visi</h2>
  	<p>Menjadi pilihan terbaik dalam memberikan pelayanan traveling </p>
	</div>

<div id="b2" class="containerTab" style="display:none;background:#0EC7DD">
  <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
  <h2>Misi</h2>
  <p>Selalu memberikan yang terbaik untuk pengguna jasa TrevelinkInd</p>
</div>

<div id="b3" class="containerTab" style="display:none;background:#266EB1">
  <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
  <h2 >Motto</h2>
  <p>Menjadi yang terbaik</p>
</div>
		
<div id="b4" class="containerTab" style="display:none;background:#0EC7DD">
  <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
  <h2>Other</h2>
  <p>Lorem ipsum..</p>
</div>
	</div>
	<div class="top-title">
	<h4>Gallery<span>IND</span> </h4>
		</div>
<div class="kotak2">
  <div class="column2">
    <img src="/assets/image/travel.jpg">
    <img src="assets/image/sumbawa.jpg">
    <img src="assets/image/WehIsland.jpg">
    <img src="assets/image/tugu.jpg">
    <img src="assets/image/travel2.jpg">
    <img src="assets/image/travel3.jpg">
  </div>
  </div>
		
	<footer>
	<div class="kotak2">

		<div class="column2">
		<h6>What You Want To Know</h6>
		<h6>Travelinkind@gmail.com</h6>
			<img id="f" src="/assets/image/facebook.png" alt="">
			<img id="f" src="/assets/image/instagram.png" alt="">

		</div>
		<div class="column2">
		Powered by TRAVELINKIND
	</div>	
	</div>
	</footer>

<script src="/assets/js/script.js"></script>
	<script src="/assets/js/ho.js"></script>

</body>
</html> 