<!doctype html>
<html>
<head>
	 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/style4.css">
    <title>Info Page 2</title>
    <style>
    	body{
    		background-position : center;
    		background-repeat:no-repeat;
    	}
    </style>
</head>
<body>
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

	<body background = "/assets/image/6.jpg"></body>
 <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
      <div class="container">
  <a class="navbar-brand font-weight-bold text-primary" href="page-top">áƒ¦ ğ–œğ–ğ–˜ğ–†ğ–™ğ–† ğ–ğ–“ğ–‰ğ–”ğ–“ğ–Šğ–˜ğ–ğ–† ğ–ğ–š áƒ¦</a>
  <button class="navbar-toggler varbar - Toggler -right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link js-scroll-trigger" href="Blog.html">Blog <span class="sr-only">(current)</span></a>
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="daftar isi" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          DAFTAR ISI
        </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Wisata Kota Bali</a>
          <a class="dropdown-item" href="#">Wisata Kota Jakarta</a>
          <a class="dropdown-item" href="#">Wisata Kota Bandung</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Wisata Kota Yogyakarta</a>
          <a class="dropdown-item" href="#">Wisata Papua</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          INFORMASI
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="">DESTINASI</a>
        </div>
      </li>
		
    </div>
</div>
  </div>
</nav>
<div class="media">
  <img src="/assets/image/monas.jpg" class="align-self-top mr-3" width="600"alt="...">
  <div class="media-body">
    <h4 class="mt-2" >Monumen Nasional(MONAS) - JAKARTA</h4>
    <p class = "font-weight-bold" > Monumen Nasional atau yang populer disingkat dengan Monas atau Tugu Monas adalah monumen peringatan setinggi 132 meter (433 kaki) yang didirikan untuk mengenang perlawanan dan perjuangan rakyat Indonesia untuk merebut kemerdekaan dari pemerintahan kolonial Hindia Belanda. Pembangunan monumen ini dimulai pada tanggal 17 Agustus 1961 di bawah perintah presiden Sukarno dan dibuka untuk umum pada tanggal 12 Juli 1975. Tugu ini dimahkotai lidah api yang dilapisi lembaran emas yang melambangkan semangat perjuangan yang menyala-nyala. Monumen Nasional terletak tepat di tengah Lapangan Medan Merdeka, Jakarta Pusat.
    Setelah pusat pemerintahan Republik Indonesia kembali ke Jakarta setelah sebelumnya berkedudukan di Yogyakarta pada tahun 1950, menyusul pengakuan kedaulatan Republik Indonesia oleh pemerintah Belanda pada tahun 1949, Presiden Sukarno mulai merencanakan pembangunan sebuah Monumen Nasional yang setara dengan Menara Eiffel di lapangan tepat di depan Istana Merdeka. Pembangunan Tugu Monas bertujuan mengenang dan melestarikan perjuangan bangsa Indonesia pada masa revolusi kemerdekaan 1945, agar terus membangkitkan inspirasi dan semangat patriotisme generasi penerus bangsa.
    Pada tanggal 17 Agustus 1954, sebuah komite nasional dibentuk dan sayembara perancangan Monumen Nasional digelar pada tahun 1955. Terdapat 51 karya yang masuk, akan tetapi hanya satu karya yang dibuat oleh Frederich Silaban yang memenuhi kriteria yang ditentukan komite, antara lain menggambarkan karakter bangsa Indonesia dan dapat bertahan selama berabad-abad. Sayembara kedua digelar pada tahun 1960 tetapi sekali lagi tak satupun dari 136 peserta yang memenuhi kriteria. Ketua juri kemudian meminta Silaban untuk menunjukkan rancangannya kepada Sukarno. Akan tetapi Sukarno kurang menyukai rancangan itu dan ia menginginkan monumen itu berbentuk lingga dan yoni. Silaban kemudian diminta merancang monumen dengan tema seperti itu, akan tetapi rancangan yang diajukan Silaban terlalu luar biasa sehingga biayanya sangat besar dan tidak mampu ditanggung oleh anggaran negara, terlebih kondisi ekonomi saat itu cukup buruk. Silaban menolak merancang bangunan yang lebih kecil dan menyarankan pembangunan ditunda hingga ekonomi Indonesia membaik. Sukarno kemudian meminta arsitek R.M. Soedarsono untuk melanjutkan rancangan itu. Soedarsono memasukkan angka 17, 8 dan 45, melambangkan 17 Agustus 1945 memulai Proklamasi Kemerdekaan Indonesia, ke dalam rancangan monumen itu.[1][2][3] Tugu Peringatan Nasional ini kemudian dibangun di areal seluas 80 hektare. Tugu ini diarsiteki oleh Frederich Silaban dan R. M. Soedarsono, mulai dibangun 17 Agustus 1961.
</div>
	</div>
		<div class="media">
  			<div class="media-body">
    <h5 class="mt-1">Kepulauan Raja Ampat - PAPUA BARAT</h5>
    <p class = "font-weight-bold" >Kabupaten Raja Ampat adalah salah satu kabupaten di provinsi Papua Barat, Indonesia. Ibukota kabupaten ini terletak di Waisai. Kabupaten ini memiliki 610 pulau, termasuk kepulauan Raja Ampat. Empat di antaranya, yakni Pulau Misool, Salawati, Batanta dan Waigeo, merupakan pulau-pulau besar. Dari seluruh pulau hanya 35 pulau yang berpenghuni sedangkan pulau lainnya tidak berpenghuni dan sebagian besar belum memiliki nama. Kabupaten ini memiliki total luas 67.379,60 kmÂ² dengan rincian luas daratan 7.559,60 kmÂ² dan luas lautan 59.820,00 kmÂ².
      Sementara itu, etnis yang ada di Raja Ampat cukup multienis. Etnis atau suku asli kabupaten ini termasuk suku Laganyan, Matbat, Wawiyai, Kawei, Ambel, Wardo, dan Usba dan suku lainnya yang tersebar di setiap pulau-pulau Raja Ampat.[6] Selain itu, suku pendatang juga cukup banyak terlebih saat ini kabupaten Raja Ampat menjadi kawasan wisata favorit hingga mancanegara. Pendatang seperti suku Jawa, Bugis, Minahasa, Batak, dan penduduk asli dari berbagai kabupaten di pulau Papua lainnya, mulai banyak bermukim di Raja Ampat.
      Kabupaten Raja Ampat memiliki beragam budaya yang menjadi ciri khas kabupaten ini. Salah satu kebudayaan yang ada di Raja Ampat adalah Tradisi Wala. Wala adalah sebuah tradisi lisan berupa nyanyian yang dibawakan bersamaan dengan gerakan tarian.[7] Tradisi Wala dikenal oleh Suku Matbat, yang merupakan suku asli dari pulau Misool dan tradisi Wala hanya digelar pada acara tertentu saja. Penduduk di Misool secara umum mengenal Tradisi Wala. Mereka menyebutnya sebagai 'lan batan o' atau lagu tanah, yang menkisah tentang asal usul 'Batan Me' atau lahirnya komunitas di pulau Misool dan persebaran kehidupan masyarakat suku Matbat.[7]

Tradisi ini sempat hampir punah, karena tidak dipelihara oleh penduduk local. Namun, pada tanggal 08 Oktober 2019, tradisi Wala diakui sebagai budaya nasional dan telah dituangkan dalam bentuk sertifikat yang ditandangani oleh Menteri Pendidikan dan Kebudayaan , Prof.Dr.Effendy Muhadjir, di Jakarta.
</p>
  </div>
  <img src="/assets/image/rajaampat.jpg" width="660" class="ml-3" alt="...">
</div>

<div class="media">
  <img src="/assets/image/masjid.JPEG" class="align-self-top mr-3" alt="...">
  <div class="media-body">
    <h4 class="mt-2" >Masjid Raya Baiturrahman - ACEH </h4>
    <p class = "font-weight-bold" >adalah sebuah Masjid yang terletak di pusat kota Banda Aceh, Provinsi Aceh, Indonesia. Masjid Raya Baiturrahman adalah simbol agama, budaya, semangat, kekuatan, perjuangan dan nasionalisme rakyat Aceh. Masjid ini adalah landmark Banda Aceh sejak era Kesultanan Aceh dan selamat dari bencana tsunami pada 26 Desember 2004 silam.
   Masjid Raya yang asli dibangun pada tahun 1612 di masa pemerintahan Sultan Iskandar Muda. Ada juga yang mengatakan bahwa Masjid Raya Baiturrahman yang asli dibangun lebih awal pada tahun 1292 oleh Sultan Alaidin Mahmudsyah. Masjid Kerajaan yang asli menampilkan atap jerami berlapis-lapis yang merupakan fitur khas arsitektur Aceh.

   Ketika Kolonial Hindia Belanda menyerang Kesultanan Aceh pada 10 April 1873, masyarakat Aceh menggunakan Masjid Raya yang asli sebagai benteng pertempuran, dan menyerang pasukan Royal Belanda dari dalam masjid. Pasukan Royal Belanda pun membalas dengan menembakkan suar ke atap jerami masjid, yang menyebabkan masjid terbakar. Jendral Van Swieten pun menjanjikan pemimpin lokal bahwa dia akan membangun kembali Masjid Raya dan menciptakan tempat yang hangat untuk permintaan maaf. Pada tahun 1879 Belanda membangun kembali Masjid Baiturrahman sebagai pemberian dan untuk mengurangi kemarahan rakyat Aceh. Konstruksi dimulai pada tahun 1879, ketika batu pertama diletakkan oleh Tengku Qadhi Malikul Adil, yang kemudian menjadi imam pertama di Masjid Raya baru ini, dan diselesaikan pada 27 Desember 1881 ketika masa pemerintahan Sultan terakhir Aceh, Muhammad Daud Syah. Banyak orang Aceh yang awalnya menolak untuk beribadah di Masjid Raya Baiturrahman yang baru ini karena dibangun oleh orang Belanda, yang awalnya merupakan musuh mereka. Namun sekarang Masjid ini telah menjadi kebanggaan Masyarakat Aceh

  Masjid Raya Baiturrahman awalnya dirancang oleh arsitek Belanda yang bernama Gerrit Bruins.[5][6] Desainnya kemudian diadaptasi oleh L.P. Luijks, yang juga mengawasi pekerjaan konstruksi yang dilakukan oleh kontraktor Lie A Sie.[5] Desain yang dipilih adalah gaya kebangkitan Mughal, yang dicirikan oleh kubah besar dengan menara-menara. Kubah hitam uniknya dibangun dari sirap kayu keras yang digabung menjadi ubin.

  Interiornya dihiasi dengan dinding dan pilar be-relief, tangga marmer dan lantai dari Tiongkok, jendela kaca patri dari Belgia, pintu kayu berdekorasi, dan lampu hias gantung perunggu. Batu-batu bangunannya berasal dari Belanda. Pada saat penyelesaiannya, desain yang baru pada masanya ini sangat kontras dibandingkan dengan masjid-masjid khas Aceh disaat itu, yang mengakibatkan banyak orang Aceh menolak untuk shalat di Masjid Raya Baiturrahman ini, ditambah lagi karena masjid ini dibangun oleh "orang kafir" Belanda. Namun sekarang, Masjid Raya Baiturrahman telah menjadi masjid kebanggaan masyarakat Aceh.</p>
</div>
  </div>
<div class="media">
  <div class="media-body">
    <h5 class="mt-1">Tugu Pahlawan - SURABAYA</h5>
     <p class = "font-weight-bold" >Tugu Pahlawan adalah sebuah monumen yang menjadi markah tanah Kota Surabaya. Tinggi monumen ini adalah 41,15 meter dan berbentuk lingga atau paku terbalik. Tubuh monumen berbentuk lengkungan-lengkungan (Canalures) sebanyak 10 lengkungan, dan terbagi atas 11 ruas. Tinggi, ruas, dan canalures mengandung makna tanggal 10, bulan 11, tahun 1945. Suatu tanggal bersejarah, bukan hanya bagi penduduk Kota Surabaya, tetapi juga bagi seluruh Rakyat Indonesia. Tugu Pahlawan dibangun untuk memperingati peristiwa Pertempuran 10 November 1945 di Surabaya, di mana arek-arek Suroboyo berjuang melawan pasukan Sekutu bersama Belanda yang hendak menjajah kembali Indonesia. Monumen Tugu Pahlawan menjadi pusat perhatian setiap tanggal 10 November mengenang peristiwa pada tahun 1945 ketika banyak pahlawan yang gugur dalam perang kemerdekaan.Berdiri di tengah kota, Tugu Pahlawan menjadi salah satu ikon kota Surabaya sebagai Kota Pahlawan. Tugu Pahlawan dibangun untuk memperingati peristiwa Pertempuran 10 November 1945 di Surabaya, di mana arek-arek Suroboyo berjuang melawan pasukan Sekutu bersama Belanda yang hendak kembali menguasai tanah air.
    Tugu Pahlawan berbentuk lingga seperti paku yang terbalik. Bagian badannya terdiri dari 10 lengkungan dengan 11 ruas yang menyimbolkan 10 November. Tugu Pahlawan dibagung pada lahan bekas reruntuhan gedung yang hancur pada pertempuran 10 November 1945.
    Di bawah tanah lahan Tugu Pahlawan sedalam 7 meter terdapat sebuah museum untuk mengenang jasa-jasa para pahlawan yang berjuang di Surabaya, di museum ini juga terdapat foto-foto dokumentasi pembangunan Tugu Pahlawan.Rencananya pembangunan Tugu Pahlawan memiliki tinggi 45 meter, namun karena berbagai kendala akhirnya tinggi yang disepakati adalah 41,15 meter. Diameternya 3,1 meter, namun semakin tinggi diameternya semakin kecil. Tugu ini berbentuk lingga atau paku terbalik. Bagian tubuh monumen berbentuk lengkungan-lengkungan (Canalures) sebanyak 10 lengkungan, dan terbagi atas 11 ruas. Tinggi, ruas, dan canalures mengandung makna tanggal 10, bulan 11, tahun 1945.

Di bawah monumen dihiasi dengan ukiran Trisula bergambar Cakra, Stamba dan Padma sebagai simbol api perjuangan. Biaya pembangunan Tugu Pahlawan berasal dari sumbangan para dermawan termasuk rakyat yang ikut menyumbangkan dana. Pada awalnya pekerjaan pembangunan Tugu Pahlawan ditangani Balai Kota Surabaya, kemudian dilanjutkan oleh Indonesian Engineering Corporation, yang kemudian diteruskan oleh Pemborong Saroja.

Konstruksi dimulai pada 20 Februari 1952 dan selesai pada 3 Juni 1952. Untuk membuat pondasinya, tanah harus digali hingga 620 meter kubik. Selanjutnya dilakukan pengecoran beton yang dilakukan oleh Indonesian Engineering Corporation.

Untuk pembuatan beton ini menghabiskan besi sebanyak 19 ton. Pengecoran yang harus diselesaikan secara sekaligus membuat 120 orang harus bekerja bergiliran selama 40 jam non-stop

	</p>
  </div>
  <img src="/assets/image/tugu.jpg" width="600" class="ml-3" alt="...">
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="/info">Previous</a></li>
    <li class="page-item"><a class="page-link" href="/info">1</a></li>
    <li class="page-item"><a class="page-link" href="">2</a></li>
    <li class="page-item"><a class="page-link" href="">..</a></li>
    <li class="page-item"><a class="page-link" href="">Next</a></li>
  </ul>
</nav>
	</body>
</html>