<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
	
	
	<style>
		body{
			 background-image: url("/assets/image/10.jpg");
			 	 background-size: cover;
		}
		.yo{background:rgba(0,0,0,0.34);
		width: 1100px;
		height: 30cm;
		position: relative;
		margin: auto;}
		
		
		.content{
			width: 20cm;
			height: 30cm;
			background: white;
			position: absolute;
			top:20px;
			left:20px;
		}
		.content img {
			width:650px;
			height: 250px;
			border-style: outset;
			position: absolute;
			top:4cm;
			left:20px;
		}
		.p{
			width:19cm;
			height: 15cm;
			border-style: outset;
			position: absolute;
			top:12cm;
			left:20px;
			font-size:12px;
		}
		.text{
			border-style: outset;
			position: absolute;
			top:2cm;
			left:20px;
			font-size:50px;
		}
		</style>
</head>
	<body>
		<div class="yo">
 <div class="content">
	 <div class="text">Jawa</div>
 <img src="/assets/image/Gunung Bromo.jpg">
	 
	 <div class="p">
			<p>Wisata Gunung Bromo terletak di Jawa Timur ini memang mengundang banyak wisatawan karena keindahan pemandangan alam dari ketinggian pegunungan, nama Gunung Bromo sendiri diambil dari salah satu dewa utama dalam agama Hindu yaitu Brahma, gunung ini memiliki ketinggian 2329 meter di atas permukaan air laut.

		Status Gunung Bromo masih aktif membuat daya tarik tersendiri bagi wisatawan, hamparan gunung nan indah dikelilingi awan putih membuat mata tak jenuh untuk memandang, wisata Gunung Bromo sangat ramai dikunjungi wisatawan khususnya pada hari libur.
		
		Dari Gunung Bromo kita bisa melihat indahnya matahari terbit dari ketinggian 2.780  meter di atas permukaan air laut dihiasi indahnya hamparan pegunungan seperti negeri di atas awan. Tidak sedikit wisatawan ingin mengabadikan momen indah ini, dari atap penanjakan wisatawan dapat melihat indahnya gunung semeru yang mengeluarkan asap yang dibarengi dengan naiknya matahari memberikan cahaya keindahan di Wisata Gunung Bromo ini.</p>
		</div>
	 
 </div>
</div>

<div class="yo">
 <div class="content">


 <img src="/assets/image/Pantai Klayar.jpg">
	 
	 <di class="p"><p>Pantai Klayar berada di Kecamatan Donorojo, sekitar 35 km ke arah barat Kota Pacitan, dan dapat dicapai sekitar 60 menit dari kota pacitan

		Klayar adalah pantai eksotik dengan hamparan pasir putih, batu karang yang menyerupai Sphinx, karang bolong, seruling laut dan air mancur alami setinggi 10 meter.
		
		Perjalanan menuju ke pantai Klayar adalah sebuah tantangan bagi mereka yang suka akan kegiatan luar ruangan, karena jalan yang harus diakses terbilang sempit dan rusak di beberapa bagian. Ditambah lagi, terdapat kelokan tajam serta rute yang naik turun perbukitan dengan tanjakan dan turunan yang cukup ekstrim. Namun demikian, keindahan pemandangan bukit dan lembah hijau akan menemani sepanjang perjalanan.
		
		Pantai ini terbilang masih sangat sepi, dan hanya akan terlihat beberapa nelayan yang sedang melaut saat hari biasa. Hamparan pasir putih membentang dengan ombak sejernih kristal memecah di bibir pantai,dan diapit bukit-bukit karang di kanan dan kirinya.</p>
	  	 </div>
	 
 </div>
</div>
		
</body>
</html>

