<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
	<style>
		body{
			 background-image: url("/assets/image/10.jpg");
			 	 background-size: cover;
		}
		.yo{background:rgba(0,0,0,0.34);
		width: 1100px;
		height: 50cm;
		position: relative;
		margin: auto;}
		
		
		.content{
			width: 20cm;
			height: 50cm;
			background: white;
			position: absolute;
			top:20px;
			left:20px;
		}
		.content img {
			width:650px;
			height: 250px;
			border-style: outset;
			position: absolute;
			top:4cm;
			left:20px;
		}
		.p{
			width:19cm;
			height: 35cm;
			border-style: outset;
			position: absolute;
			top:12cm;
			left:20px;
			font-size:12px;
		}
		.text{
			border-style: outset;
			position: absolute;
			top:2cm;
			left:20px;
			font-size:50px;
		}
		</style>
</head>

<body >
	<div class= "yo">
	<div class="content">
		<div class="text">Medan</div>
		<img src="/assets/image//istana maimun.jpeg">
		<div class="p">
			<p>Pendiri Istana Maimun adalah Sultan Makmun Al Rasyid Perkasa Alamsyah, Putra Sulung dari Sultan Mahmud Perkasa Alamsyah yang merupakan pendiri kota Medan. Istana tersebut memiliki ruang halamannya pun sangat luas.

Ruang-ruang yang ada di Istana Maimun memilki fungsinya masing-masing seperti untuk acara adat kerajaan, ruangan bagi para tamu kerajaan, gudang, dapur, dan lainnya. Bangunan Istana Maimun di Medan memiliki desain perpaduan antara tradisi Melayu, arsitektur Eropa dan Islam.

Kesultanan Deli memcapai puncak kejayaan saat berada di bawa kepemimpinan Sultan Makmun Al Rasyid Perkasa Alamsyah. Pada masa itu pula, tepatnya di tahun 1888 Istana Maimun dibangun. 

Pembangunan Istana kabarnya menghabiskan dana setara satu juta golden Belanda. Pembangunan istana ini dimulai pada 26 Agustus 1888 dan selesai 18 Mei 1891. Hingga kini, Istana Maimun masih menjadi bukti atas kemegahan dari kesultanan Deli Pada masanya</p>
		</div>
		
	</div>
	</div>
</body>
</html>
