<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/assets/css/service.css" rel="stylesheet" type="text/css" />
<meta charset="utf-8">

</style>
</head>	
<body>
		<div class="top-title">
			<h4>TRAVELINK<span>IND</span> </h4>
			</div>
			<div class="navbar">
				<a href="#">Home</a>
				<a href="/service">Service</a>
				<a href="/Blog">Blog</a>
				<a href="/contact">Contact</a>
				<a href="/AboutUs">About Us</a>
				<a href="/login">Login</a>
			  </div>
<div class="slideshow-container">
			<div class="mySlides fade">
  			<img src="/assets/image/resort1.jpg" style="width:100%">
			<div class="textimg ">
          <h2>Group & Individual Getaways</h2>
          <h5 >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsum molestias excepturi doloremque</h5>
        </div>
			</div>
			
			<div class="mySlides fade">
  			<img src="/assets/image/resort2.jpg" style="width:100%">
				<div class="textimg "><h2>Take Your Dream Vacation</h2>
          <h5 >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, provident eos dicta unde debitis</h5></div>
			</div>
			<div class="mySlides fade">
  			<img src="/assets/image/resort3.jpg" style="width:100% ">		
		<div class="textimg"><h2>We Work With All Budgets</h2>
          <h5 >Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus delectus inventore neque impedit</h5></div>
          
			</div>
		</div>
		<div style="text-align:center">
  			<span class="dot"></span> 
  			<span class="dot"></span> 
  			<span class="dot"></span> 
		</div>
	<div class="cover">		
	<div class="wrapper">	
	<h2 style="text-align:center"> Domestic<span>Destination</span></h2>	
	</div>
   <div class="column">
    <div class="card">
      <img src="/assets/image/dompack-east.jpg" >
      <div class="container">
		  <a href="/barat">Indonesia barat </a>
		</div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/assets/image/dompack-central.jpg" >
      <div class="container">
		<a href="/tengah">Indonesia Tengah </a>
		</div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/assets/image/dompack-west.jpg" >
      <div class="container">
        <a href="/timur">Indonesia Timur</a>
      </div>
    </div>
  </div>
  </div>
	
<script src="/assets/js/script.js"></script>
</body>
</html> 
