<!DOCTYPE html>
<html>
<head>
	<title>TravelinkIND</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/assets/css/barat.css" rel="stylesheet" type="text/css" />
<meta charset="utf-8">
<style>
  .yo{background:rgba(0,0,0,0.34);
		width: 1100px;
		height: 30cm;
		position: relative;
    margin: auto;}
</style>
</head>
	
<body>
		<div class="top-title">
	
			<h4>TRAVELINK<span>IND</span> </h4>
			</div>
	

	<div class="navbar">
  <a href="/">Home</a>
  <a href="/service">Service</a>
    <a href="/Blog">Blog</a>
    <a href="/contact">Contact</a>
    <a href="/AboutUs" class="right">About Us</a>
</div>
<div class="slideshow-container">
			<div class="mySlides fade">
  			<img src="/assets/image/resort1.jpg" style="width:100%">
			<div class="textimg ">
          <h2>Group & Individual Getaways</h2>
          <h5 >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsum molestias excepturi doloremque</h5>
        </div>
			</div>
			
			<div class="mySlides fade">
  			<img src="/assets/image/resort2.jpg" style="width:100%">
				<div class="textimg "><h2>Take Your Dream Vacation</h2>
          <h5 >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, provident eos dicta unde debitis</h5></div>
			</div>
	
			<div class="mySlides fade">
  			<img src="/assets/image/resort3.jpg" style="width:100% ">		
		<div class="textimg"><h2>We Work With All Budgets</h2>
          <h5 >Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus delectus inventore neque impedit</h5></div>
          
			</div>
	
	  		
</div>
		<div style="text-align:center">
  			<span class="dot"></span> 
  			<span class="dot"></span> 
  			<span class="dot"></span> 
		</div>
			
	<div class="wrapper">
		
	<h2 style="text-align:center"> Indonesia<span>Timur</span></h2>
		
	</div>
<div class="cover">
	<div class="column">
    <div class="card">
      <img src="/assets/image/bandaneira.jpg" >
      <div class="container">
		<h5>Maluku-Banda neira</h5>
		  <p>OPEN TRIP BANDA NEIRA DIVE <br>Rp 2.455.000</p>
		</div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/assets/image/desahila.jpg" >
      <div class="container">
		<h5>Ambon-Desa Heila Katetu </h5>
		  <p>OPEN TRIP DESA HEILA KATETU <br>Rp.2.340.000</p>
		</div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/assets/image/saleman.jpg" >
      <div class="container">
		<h5>Ambon- Desa Saleman </h5>
		  <p>OPEN TRIP DESA SALEMAN <br> Rp.2.450.000</p>
      </div>
    </div>
  </div>
	</div>


<div class="cover2">
	<div class="column">
    <div class="card">
      <img src="/assets/image/hatupia.jpg" >
      <div class="container">
		<h5>Ambon-Tebing Batu Hatapia </h5>
		  <p>OPEN TRIP HATAPIA ROCK CLIFF <br>Rp.2.280.000</p>
		</div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/assets/image/rajaampat.jpg"	>
      <div class="container">
		<h5>Kep.Raja Ampat </h5>
		  <p>OPEN TRIP RAJA ANMPAT Diving <br>Rp.2.950.000</p>
		</div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/assets/image/wairinding.jpg" >
      <div class="container">
		<h5>Sumbar Daya-Danau wekuri </h5>
		  <p>OPEN TRIP WEKURI LAGOON <br>Rp.1.120.000</p>
      </div>
    </div>
  </div>
	</div>
	
  <div class="yo">
    <div class="container">
      <h2>ORDER HERE</h2>
      <form action="/order" method="post">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="nama" placeholder="Enter Name" name="nama" required>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
        </div>
        <div class="form-group">
          <label for="order">Order:</label>
          <input type="text" class="form-control" id="order" placeholder="Destination" name="order" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>	

<script src="/assets/js/script.js"></script>


</body>
</html> 
